header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 5px solid #8A6D21;
  color: #8A6D21;
  background: rgba(138,109,33,0.16) ;
}
.norris {
  width: 100px;
  padding: 0;
  margin: 0;
}

.heading {
  margin-bottom: 1rem;
  font-family: "Russo One";
  font-weight: 300;

}