* {
  margin: 0;
}

footer {
  padding: 1rem 0;
  text-align: center;
  background-color: #8A6D21;
  color: #fff;
}


a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  padding: .2rem;
}

/* Media queries */
@media (max-width:700px) {
  .footer {
    width: 100%;

  }
}